/* Eliminar margenes y padding en el archivo*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* 
  Estilos base del body:
  - Fondo negro 
  - Fuente Courier New
  - Color de texto claro para contraste
*/

html, body {
    height: 100%;
    background: #0a0a0a; /* Negro profundo */
    overflow: hidden;
}

body {
    font-family: 'Courier New', monospace; 
    color: #f0e6d0; 
}

#root {
    height: 100%;
}